<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Arrancando con Jade
		link(rel="stylesheet" href="css/main.css")
		link(href='https://fonts.googleapis.com/css?family=Raleway:400,300,200italic,700,800,900,500' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="css/font-awesome.min.css")
	body
		header
			nav.navbar(role="navigation")
				.navbar-header
					button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse")
						span.sr-only Desplegar navegación
						span.fa.fa-bars
					a.navbar-brand(href="#") 
						h1 Future imperfect
				.collapse.navbar-collapse.navbar-ex1-collapse
					ul.nav.navbar-nav
						li
							a(href="")
								h6 home
						li
							a(href="")
								h6 about us
						li
							a(href="")
								h6 services
						li
							a(href="")
								h6 galleries
						li
							a(href="")
								h6 contact
					ul.nav.navbar-right.hidden-xs
						li 
							a(href="")
								i.fa.fa-search
		section.future
			.text-center.centro
				.logo
					.hex1
						.hex2
				h2 Future Imperfect	
				h6 Another fine responsive site template by 
					a(href="http://html5up.net") HTML5 UP
			.container
				.row.one
					.col-md-9
						h3 magna sed adipiscing
						h6 Lorem ipsum dolor amet nullam consequat etiam feugiat
					.col-md-3.text-right
						h6 November 1,2015
						h6 Jane Doe
						img(src="../images/avatar.jpg")
				.row
					.col-md-12.text-center
						img(src="../images/pic01.jpg")
						p.text-left Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
						.col-md-6.text-left.pd-0
							a.boton.text-center continue reading
						.col-md-6
							ul.list-unistyled.list-inline.text-right.general
								li
									h6 general
								li
									h6 
										i.fa.fa-heart 
										span 28
								li
									h6
										i.fa.fa-comment 
										span 128
			.botones.text-center
				a.boton 
					i.fa.fa-chevron-left 
					| previus page
				a.boton next page 
					i.fa.fa-chevron-right							

		script(src="js/jquery.js")
		script(src="js/bootstrap.min.js")


		
